<div class="col-12">
  <div class="row home-header pt-5">

    <div class="col-11 col-lg-8 col-xl-7 mx-auto">
      <div class="row">

        <div class="col-12">
          <%= link_to root_path do %>
            <%= image_tag "intercom-logo.png", class: "intercom-logo" %>
          <% end %>

          <span class="float-right font-weight-bold font-25">Welcome!</span>
        </div>

        <div class="col-12 mt-4">
          <h1 class="header-title">Invite Customers to Intercom's office with ease.</h1>

          <div class="font-25 text-center font-18-until-sm pt-4">
            <p class="">This program will print out the names and user IDs of all Intercom customers within a 100km radius.</p>
            <p class="">Please select how you would like these details to be printed.</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-5 mx-auto mt-5">
          <%= link_to "Print on screen", invitations_path(type: :on_screen), method: :post, class: "btn btn-black" %>
          <%= link_to "Print in text-file", invitations_path(type: :text_file), method: :post, class: "btn btn-white float-right" %>
        </div>
        
      </div>
    </div>

  </div>
</div>