<div class="col-12">
  <div class="row home-header small pt-5">

    <div class="col-11 col-lg-8 col-xl-7 mx-auto">
      <div class="row">

        <div class="col-12">
          <%= link_to root_path do %>
            <%= image_tag "intercom-logo.png", class: "intercom-logo" %>
          <% end %>
        </div>

        <div class="col-12 mt-4">
          <div class="font-25 text-center font-18-until-sm pt-4">
            <p>Intercom customers within a 100km radius:</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-11 col-lg-8 col-xl-7 mx-auto mt-5">
      <% if @print_to_file %>
        <p class="text-center font-20">Your results have been printed to a text file in the assets folder. Thank you!</p>

      <% else %>
        <% if @customers.any? %>
          <%= render "invitations/partials/customers_table" %>
        <% else %>
          <p class="text-center">You do not have any customers yet. Please return to the homescreen and choose one of the print options. Thank you!</p>
        <% end %>

      <% end %>
    </div>
  </div>

</div>