@import "bootstrap";

.home-header {
  height: 700px;
  background-color: #f4f0eb;

  &.small {
    height: 225px;
  }

  .intercom-logo {
    width: 150px;
    filter: grayscale(1) invert(1);
  }

  .header-title {
    font-size: 78px;
    font-weight: bold;
    font-family: Graphik, Helvetica, Arial, sans-serif;
    margin-top: 5%;
    text-align: center;

    @media screen and (max-width: 576px) {
      font-size: 45px;
    }
  }
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-18-until-sm {
  @media screen and (max-width: 576px) {
    font-size: 18px;
  }
}

.btn-black {
  color: white;
  background-color: rgb(24, 24, 24);

  &:hover {
    color: black;
    background-color: white;
  }
}

.btn-white {
  color: black;
  background-color: white;

  &:hover {
    color: white;
    background-color: rgb(24, 24, 24);
  }
}

body {
  font-family: Graphik, Helvetica, Arial, sans-serif;
}
